MONGO_URI=mongodb+srv://satyamkumarjha_:MONGOdb%40%23321@student-portal.ctesqsd.mongodb.net/studentPortal

JWT_SECRET=cdd8678851acbe4c8005aae19253cac4aa66c43106e38aa1946bcd1c7be3e942

SMTP_USER=0satyamkumarjha2@gmail.com
SMTP_PASS=zwfo wazz nykb sqcf

PORT=5000